:root {
    --fundo1: #1A1A2E;         /* Fundo Principal */
    --fundo2: #26264A;      /* Fundo da Secundario */
    --texto1: #E0E0E0;    /* Texto Principal */
    --texto2: #A0A0C0;  /* Texto Secundario */
    --detalhe1: #354497;     /* Detalhe Azul Escuro */
    --detalhe2: #00aeff;   /* Detalhe Ciano */
}