:root {
    --fundo1: #1A1A2E;
    /* Fundo Principal */
    --fundo2: #26264A;
    /* Fundo da Secundario */
    --texto1: #E0E0E0;
    /* Texto Principal */
    --texto2: #A0A0C0;
    /* Texto Secundario */
    --detalhe1: #354497;
    /* Detalhe Azul Escuro */
    --detalhe2: #00aeff;
    /* Detalhe Ciano */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    background-color: var(--fundo1);
    color: var(--texto1);
}

/* Faz com que os elementos ocupem todo o espaço da tela */
.tudo {
    display: flex;
    min-height: 100vh;
}


.navbar {
    width: 250px;
    background-color: var(--fundo2);
    padding: 20px 0;
    display: flex;
    flex-direction: column; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.conteudo {
    flex-grow: 1; /* Faz o conteúdo ocupar o espaço restante */
    padding: 20px;
}

#logo {
    display: flex;
    align-items: center;
    padding: 0 20px 30px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 20px;
    font-size: 1em;
}

#logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#logo h1 {
    font-size: 24px;
    color: var(--detalhe2);
}

.navbar-lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-nav {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: var(--texto2);
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

.link-nav:hover {
    background-color: rgba(0, 255, 255, 0.1); /* Fundo ciano semi-transparente */
    color: var(--detalhe2);
}

.ativo {
    background-color: var(--detalhe2); 
    color: var(--texto1);
    border-left: 5px solid var(--detalhe1);
    padding-left: 15px;
}

.titulo{
    text-align: center;
    color: var(--detalhe2);
    padding-bottom: 30px;
    margin-top: 50px;
    font-size: 50px;
}

.sobre{
    text-align: center;
    color: var(--texto1);
    font-size: 20px;
}

.detalhes-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;   
}

.caixa-jogos{
    background-color: var(--fundo2);  
    padding: 20px;
    border-radius: 12px;
    width: 80%;                   
    color: var(--texto1);
    margin-bottom: 40px;    
    display: flex;
    flex-direction: row;
    gap: 5%;    
}


.imagem-game img{    
    width: 28vw;
}


.conteudo-texto{
    display: flex;
    flex-direction: column; 
}

.conteudo-texto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}

.text-sombra{
    color: var(--texto2);
}